/* You can add global styles to this file, and also import other style files */

/* Angular Material Prebuilt Themes */
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark-mode {
    background-color: #2d3436;
    color: #dfe6e9;
}

body.light-mode {
    background-color: #dfe6e9;
    color: #2d3436;
}