<div class="center">
    <h1>{{title}}</h1>
    <form [formGroup]="form"
          (ngSubmit)="onSubmit()">

        <!-- Name Field -->
        <div class="form-group">
            <label for="name">Name</label>
            <input formControlName="name"
                   id="name"
                   type="text"
                   class="form-control">
            <div *ngIf="formControls['name'].touched && formControls['name'].invalid"
                 class="alert alert-danger form-error">
                <div *ngIf="formControls['name'].errors && formControls['name'].errors['required']">
                    Name is required.
                </div>
            </div>
        </div>

        <!-- Email Field -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text"
                   formControlName="email"
                   class="form-control"
                   type="text" />
            <div *ngIf="formControls['email'].touched && formControls['email'].invalid"
                 class="alert alert-danger form-error">
                <div *ngIf="formControls['email'].errors && formControls['email'].errors['required']">
                    Email is required.
                </div>
                <div *ngIf="formControls['email'].errors && formControls['email'].errors['email']">
                    Please, enter valid email address.
                </div>
            </div>
        </div>

        <!-- Submit Button -->
        <div>
            <button mat-flat-button
                    color="primary"
                    class="form-button"
                    [disabled]="form.invalid">
                Save
            </button>
            <a mat-flat-button
               routerLink="/students"
               class="form-button">Cancel</a>
        </div>

    </form>
</div>