<!-- <div class="card my-5">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #studentForm="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" [(ngModel)]="student.name" class="form-control" id="name" name="name"
                    placeholder="Enter your name" required #name="ngModel">
                <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" [(ngModel)]="student.email" class="form-control" id="email" name="email"
                    placeholder="Enter your email address" required #email="ngModel">
                <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>
            </div>
            <button type="submit" [disabled]="!studentForm.form.valid" class="btn btn-info">Submit</button>
        </form>
    </div>
</div> -->

<h1>{{title}}</h1>
<form *ngIf="!loading" [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="row">

        <!-- Name Field -->
        <div class="mb-3 col">
            <label class="form-label">Name</label>
            <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors?.['required']">Name is required</div>
            </div>
        </div>

        <!-- Email Field -->
        <div class="mb-3 col">
            <label class="form-label">Email</label>
            <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors?.['required']">Email is required</div>
            </div>
        </div>

    </div>

    <!-- Submit Button -->
    <div class="mb-3">
        <button [disabled]="submitting" class="btn btn-primary">
            <span *ngIf="submitting" class="spinner-border spinner-border-sm me-1"></span>
            Save
        </button>
        <a routerLink="/students" class="btn btn-link">Cancel</a>
    </div>

</form>

<div *ngIf="loading" class="text-center m-5">
    <span class="spinner-border spinner-border-lg align-center"></span>
</div>